@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;900&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    /*
    box-sizing: border-box;
    font-family: 'Arsenal-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #5C5C5E;
    */
    background-color: #020204;
    color: #fff;
}
a {
    text-decoration: none;
    color: #FFF;
}
p {
    color: #000F;
}

.line {
    border-bottom: 1px solid #32323D;
}